<?xml version="1.0" encoding="utf-8"?>
<Media Key="eee91c05-b2e8-4031-a056-dcd7f28eff89" Alias="Matt Brailsford" Level="2">
  <Info>
    <Parent Key="1fd2ecaf-f371-4c00-9306-867fa4585e7a">People</Parent>
    <Path>/People/MattBrailsford</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-27T12:27:41</CreateDate>
    <NodeName Default="Matt Brailsford" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3jndo0f0/18531852339_981b067419_h.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>