<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1e4d30f3-1c08-4c0d-8969-abb73b0bbed0" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="34d244ad-e82d-4143-8ba3-4d14ae143378">contentBase</Composition>
      <Composition Key="97ea02dc-8025-4632-8a60-b33260e88808">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="da349ff9-d665-4499-a670-b12d4c352dd3">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1e4d30f3-1c08-4c0d-8969-abb73b0bbed0" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>