<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b5290c37-6618-4a85-8115-2ac8b8eec485" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9d18aa16-49a4-4fa9-8609-ccbdb9ed26d0">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="536ee02f-ca13-4ebf-9252-1fc0fb8b83b0" SortOrder="0">blog</ContentType>
    <ContentType Key="f9ae9014-6122-4264-ac98-f27109bc7073" SortOrder="1">contact</ContentType>
    <ContentType Key="1ad92ab1-c1f7-4edd-9bb4-d1379ec02b74" SortOrder="2">contentPage</ContentType>
    <ContentType Key="6b315d8d-6fc2-4cd0-97ff-099f3cd61468" SortOrder="3">people</ContentType>
    <ContentType Key="88971502-72f4-423a-9f33-c7b63b8cf024" SortOrder="4">products</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>846f043c-0b62-4476-a34d-ac4da6319a4b</Key>
      <Name>Content</Name>
      <Alias>bodyText</Alias>
      <Definition>34a7f8f5-a84e-439b-9322-466ff7ed8866</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>313d793f-3912-4dc9-a09a-8364fc9b7a0a</Key>
      <Name>Color Theme</Name>
      <Alias>colorTheme</Alias>
      <Definition>71548df5-836c-41f8-96ac-5b98fe5e2e19</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="design">Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f61d5617-fea3-4a9c-9651-f67d8cb3e569</Key>
      <Name>Font</Name>
      <Alias>font</Alias>
      <Definition>fff3c360-3f90-45b3-a554-e29ca72cdce4</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="design">Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c8098d12-79a9-4c7a-bc9f-8c8dcc032bd6</Key>
      <Name>Address</Name>
      <Alias>footerAddress</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6fd68887-d733-432e-9774-577b6d6dcc8e</Key>
      <Name>Call To Action Caption</Name>
      <Alias>footerCTACaption</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Caption on the Call To Action Button]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e6bcb730-4eb2-4ec4-bea3-a3b99edef775</Key>
      <Name>Call To Action Link</Name>
      <Alias>FooterCtalink</Alias>
      <Definition>3ece86aa-61ad-45d5-b1dd-8f02f25df949</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7e754dd9-4bd0-4a72-a346-d9bdad677f39</Key>
      <Name>Description</Name>
      <Alias>footerDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5fe38944-0183-4b27-af4c-b3e52e3fb458</Key>
      <Name>Header</Name>
      <Alias>footerHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6c350355-cff6-4934-9610-cbca1336cb79</Key>
      <Name>Hero Background</Name>
      <Alias>HeroBackgroundImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Spice up the homepage by adding a beautiful photo that relates to your business]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="design">Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ae171551-0366-4799-bcd4-e0aac09157dc</Key>
      <Name>Call To Action Caption</Name>
      <Alias>heroCTACaption</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The caption on the button]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f07600c8-b264-4e46-967a-3fdcbd076926</Key>
      <Name>Call To Action Link</Name>
      <Alias>HeroCtalink</Alias>
      <Definition>3ece86aa-61ad-45d5-b1dd-8f02f25df949</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>851ed8ff-8adc-493d-afad-f4b85ffb71b2</Key>
      <Name>Description</Name>
      <Alias>heroDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>98898b97-87cd-4a4f-b8d4-88ccc8eef004</Key>
      <Name>Header</Name>
      <Alias>heroHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the main headline for the hero area on the Homepage]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>52c4264a-4cbb-4d28-82ff-01566e30a30b</Key>
      <Name>Logo</Name>
      <Alias>SiteLogo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional. If you add a logo it'll be used in the upper left corner instead of the site name. Make sure to use a transparent logo for best results]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="design">Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ccf4514f-517a-4345-8d81-a2df88055190</Key>
      <Name>Sitename</Name>
      <Alias>sitename</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Used on the homepage as well as the title and social cards]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="design">Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Hero</Caption>
      <SortOrder>0</SortOrder>
      <Alias>hero</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>2</SortOrder>
      <Alias>footer</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Design</Caption>
      <SortOrder>3</SortOrder>
      <Alias>design</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>